extends layout/main

block content
  .form-container
    form(action=`/video/${routes.editVideo(video.id)}`, method='post')
      .form__column
        //- .form__file
        //-   input(type='file', name='videoFile', placeholder='영상 불러오기')
        .form__text
          .title-container
            label(for='title') 제목:
            input(type='text', name='title', id='title', placeholder='제목', maxlength='30', value=video.title)
          .textarea-container
            label(for='description') 영상에 대해 간략히 설명을 적어주시기 바랍니다.
            textarea(id='description', name='description', rows=8)=video.description
      .form__column
        input(type='submit', value='업로드하기')