extends layout/main
include mixins/searchVideoBlock

block content
  .search-container
    h2 결과가 #{videos.length}개 검색되었습니다.
    each video in videos
      +searchVideoBlock({
        id: video.id,
        fileUrl: video.fileUrl,
        title: video.title,
        uploadedAt: video.pastDate,
        views: video.views,
        description: video.description,
        creator: video.creator,
        creatorName: video.creator.name,
        creatorAvatarUrl: video.creator.avatarUrl,
        creatorId: video.creator.id,
      })
      
