extends layout/main

block title
  | #{pageTitle} | #{siteName}

block content
  .record-video
    .record-video__container
      .preview
      video#jsRecordPreview
      button#jsRecordBtn 바로 녹화하기
  .form-container
    form(action=routes.upload, method='post', enctype='multipart/form-data')
      input#jsVideoPreview(type='file', name='videoFile', placeholder='영상 불러오기', accept='video/*')
      input(type='text', name='title', id='title', placeholder='제목', maxlength='30')
      textarea(id='description', name='description', rows=8) 설명...
      input(type='submit', value='업로드하기')
