.profile__background{
  position: relative;
  width: 100%;
  height: 8rem;
  background-color: black;
  z-index: 1;
  // box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.3);
  img{
    position: relative;
    width: 100%;
    height: 8rem;
    object-fit: cover;
    z-index: 3;
  }
  .layer{
    height: 10rem;
    position: absolute;
    top: -1.5rem;
    left: 0;
    z-index: 2;
    filter: blur(2rem);
    -webkit-filter: blur(2rem);
  }
}
.profile__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  width: 75%;
  margin: 0 auto;
  @media screen and (max-width: 600px){
    margin: 0 auto;
    width: 90%;
  }
  .profile__column{
    &:first-child{
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      .profile__image{
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        border-radius: 50%;
        background-color: $avatarBlue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        @media screen and (max-width: 600px){
          width: 3.5rem;
          height: 3.5rem;
        }
        img{
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;
          @media screen and (max-width: 600px){
            width: 3.5rem;
            height: 3.5rem;
          }
        }
      }
      .profile__content{
        margin-right: 2rem;
        height: 6rem;
        min-width: 4rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
    &:nth-child(2){
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      a{
        margin: 0.25rem 0 0.25rem 1rem;
        button{
          width: 8rem;
          @media screen and (max-width: 600px){
            max-width: 5rem;
          }
        }
      }
    }
  }
}

.profile__user{
  background-color: #101010;
  padding: 2rem 0;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    margin-bottom: 1rem;
  }
  .profile__user--videos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: felx-start;
    flex-wrap: wrap;
    margin: 0 0;
    .videoBlock{
      width: 100%;
    }
    .videoBlock{
      h4{
        margin: 0.5rem 0 0.3rem;
        font-size: 1rem;
      }
      h6{
        font-size: 0.7rem;
        opacity: 0.7;
        margin-bottom: 0.4rem;
      }
      .video-explanation__viewsAndTime{
        margin-top: 0.5rem;
        display: flex;
      }
    }
    // @media screen and (max-width: 600px){
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   flex-wrap: wrap;
    //   margin: 0 0;
    //   .videoBlock{
    //     width: 100%;
    //   }
    // }
    @media screen and (min-width: 600px) and (max-width: 768px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      .videoBlock{
        width: 13rem;
        margin: 0 auto;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1200px){
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .videoBlock{
        width: 13rem;
        margin: 0 auto;
      }
    }
    @media screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .videoBlock{
        width: 13rem;
        margin: 0 auto;
      }
    }
  }
}